
<nav class="navbar fixed-top navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" <%= link_to "Flat Bookings.com", flats_path %>>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Add a flat", new_flat_path %></button>
</nav>
